@import 'colors';

.author-header {
    padding: 0.5rem 0;
    display: "inline-block";
    position: relative;
    width: max-content;
    text-decoration: none;
    color: $dark;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        // left: -2rem;
        left: 0;
        height: 3px;
        // width: calc(100% + 2rem);
        width: 100%;
        background-color: $accent;
    }
}

.author-container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: $light;
}

.author {
    width: 100%;
    height: 100%;
    max-width: 1000px;
    margin: 0 20px;
}
