@import 'colors';
@import 'fonts';
@import 'media-queries';

.author-header {
    padding: 0.5rem 0;
    display: "inline-block";
    position: relative;
    width: max-content;
    text-decoration: none;
    color: $dark;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        // left: -2rem;
        left: 0;
        height: 3px;
        // width: calc(100% + 2rem);
        width: 100%;
        background-color: $accent;
    }
}

.author-container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: $light;
}

.author {
    width: 100%;
    height: 100%;
    max-width: 1000px;
    margin: 0 20px;

    &__header {
        text-transform: uppercase;
        padding: 1.5rem 0;
        font-family: $secondary-font;
        font-weight: 300;
        font-size: 2rem;
        letter-spacing: 3px;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-flow: row wrap;
        margin-bottom: 2rem;

        @include tablet {
            justify-content: space-around;
        }

        @include desktop {
            justify-content: space-between;
        }
    }
}

.author-post {
    margin: 1rem 0 2rem 0;
    box-shadow: 0px 0px 45px -9px rgba(0, 0, 0, 0.75);
    padding: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;

    @include tablet {
        max-width: 340px;
        margin: 1rem 0;
    }

    @include desktop {
        max-width: 450px;
        margin: 1rem 0;
    }

    &__title {
        line-height: 1.5;
        margin-bottom: 0.5rem;
        color: $dark;
        text-decoration: none;
    }

    &__buttons {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-top: 1rem;
    }

    &__link {
        cursor: pointer;
        background-color: $accent;
        text-decoration: none;
        color: $light;
        padding: 0.5rem;
        margin: 0.5rem 0;
        width: max-content;
        border: 2px solid $accent;
        transition: all 0.4s ease-in-out;
        border-radius: 5px;

        &:hover {
            background: $light;
            color: $accent;
        }
    }
}
