@import 'colors';

.author {
    padding: 0.5rem 0;
    display: "inline-block";
    position: relative;
    width: max-content;
    text-decoration: none;
    color: $dark;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        // left: -2rem;
        left: 0;
        height: 3px;
        // width: calc(100% + 2rem);
        width: 100%;
        background-color: $accent;
    }
}
