@import 'colors';
@import 'fonts';

.nav {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    background: $light;

    &__wrapper {
        width: 100%;
        max-width: 1000px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 20px;
    }

    &__links {
        display: flex;
    }

    &__user {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__link {
        color: $dark;
        text-decoration: none;
        border: none;
        outline: none;
        background: none;
        text-transform: uppercase;
        font-family: $secondary-font;
        font-size: 1.5rem;
        letter-spacing: 2px;
        transition: all 0.3s ease-in-out;
        position: relative;
        cursor: pointer;

        &--logout {
            background: $accent;
            text-decoration: none;
            border: none;
            outline: none;
            text-transform: uppercase;
            font-family: $secondary-font;
            font-size: 1.5rem;
            letter-spacing: 2px;
            transition: all 0.3s ease-in-out;
            cursor: pointer;
            padding: 0.2rem 0.5rem;
            border-radius: 5px;
            margin-left: 1rem;
            color: $light;

            @include tablet {
                margin-left: 3rem;
            }

            &:hover {
                background: $light;
                color: $accent;
            }
        }

        &::after {
            content: '';
            position: absolute;
            height: 3px;
            width: 100%;
            background-color: $accent;
            bottom: -2px;
            left: 0;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.3s ease-in-out;
        }

        &:hover {
            color: $accent;

            &::after {
                transform: scaleX(100%);
            }
        }
    }
}
