.fav-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fav {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  margin: 0 20px;
}

.fav__title {
  text-transform: uppercase;
  padding: 1.5rem 0;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing: 2px;
}

.fav__header {
  text-transform: uppercase;
  padding: 1.5rem 0;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  letter-spacing: 3px;
}

.fav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .fav__wrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (min-width: 992px) {
  .fav__wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.fav-comment {
  margin: 1rem 0 5rem 0;
}

@media (min-width: 768px) {
  .fav-comment {
    width: 75%;
  }
}

@media (min-width: 992px) {
  .fav-comment {
    width: 60%;
  }
}

.fav-comment__title {
  line-height: 1.5;
  margin-bottom: 0.5rem;
  color: #000;
  text-decoration: none;
}

.fav-comment__author {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
}

.fav-comment__author::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 50%;
  background-color: #ff365f;
  bottom: -15px;
  left: 0;
}

.fav-comment__body {
  margin: 2rem 0 1rem 0;
  line-height: 1.5;
}

.fav-comment__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .fav-comment__buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.fav-comment__fav {
  cursor: pointer;
  font-size: 1.5rem;
  margin: 0.5rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: #808080;
}

.fav-comment__fav:hover {
  background: #fff;
  color: #ff365f;
}

.fav-comment__link {
  cursor: pointer;
  background-color: #ff365f;
  text-decoration: none;
  color: #fff;
  padding: 1rem;
  margin: 0.5rem 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border: 2px solid #ff365f;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border-radius: 5px;
}

.fav-comment__link:hover {
  background: #fff;
  color: #ff365f;
}

.fav-post {
  margin: 1rem 0 2rem 0;
  -webkit-box-shadow: 0px 0px 45px -9px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 45px -9px rgba(0, 0, 0, 0.75);
  padding: 1.5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .fav-post {
    max-width: 340px;
    margin: 1rem 0;
  }
}

@media (min-width: 992px) {
  .fav-post {
    max-width: 450px;
    margin: 1rem 0;
  }
}

.fav-post__title {
  line-height: 1.5;
  margin-bottom: 0.5rem;
  color: #000;
  text-decoration: none;
}

.fav-post__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .fav-post__buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.fav-post__fav {
  cursor: pointer;
  font-size: 1.5rem;
  margin: 0.5rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: #808080;
}

.fav-post__fav:hover {
  background: #fff;
  color: #ff365f;
}

.fav-post__link {
  cursor: pointer;
  background-color: #ff365f;
  text-decoration: none;
  color: #fff;
  padding: 0.5rem;
  margin: 0.5rem 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border: 2px solid #ff365f;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border-radius: 5px;
}

.fav-post__link:hover {
  background: #fff;
  color: #ff365f;
}

.fav-post__author {
  margin-bottom: 2rem;
}

.hero {
  height: 50vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ff365f;
  background-size: cover;
  background-position: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 82%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 82%, 0% 100%);
  margin-bottom: -15vh;
}

.hero__title {
  font-size: 4rem;
  color: #fff;
  font-family: "Open Sans Condensed", sans-serif;
  text-align: center;
}

@media (min-width: 768px) {
  .hero__title {
    font-size: 5rem;
  }
}

@media (min-width: 992px) {
  .hero__title {
    font-size: 6rem;
  }
}

@media (min-width: 1200px) {
  .hero__title {
    font-size: 8rem;
  }
}

.nav {
  height: 80px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
}

.nav__wrapper {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px;
}

.nav__link {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.nav__link:last-child {
  margin-left: 3rem;
}

.nav__link::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #ff365f;
  bottom: -2px;
  left: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.nav__link:hover {
  color: #ff365f;
}

.nav__link:hover::after {
  -webkit-transform: scaleX(100%);
          transform: scaleX(100%);
}

.post-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
}

.post {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  margin: 0 20px;
}

.post__title {
  text-transform: uppercase;
  padding: 2rem 0;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 3rem;
  letter-spacing: 2px;
  color: #000;
}

.post__wrapper {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.post__fav {
  font-size: 2rem;
  cursor: pointer;
}

.post__body {
  line-height: 1.7;
  text-align: justify;
  margin: 0.5rem 0;
  color: #000;
}

.post__links {
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.post__link {
  color: #ff365f;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.post__header {
  text-transform: uppercase;
  padding: 1.5rem 0;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 2rem;
  letter-spacing: 3px;
  color: #000;
  font-weight: 300;
}

.comment {
  margin: 1rem 0;
}

@media (min-width: 768px) {
  .comment {
    width: 75%;
  }
}

@media (min-width: 992px) {
  .comment {
    width: 60%;
  }
}

.comment__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.comment__title {
  line-height: 1.5;
  margin-bottom: 0.5rem;
  color: #000;
}

.comment__fav {
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 0.8rem;
  margin-top: 0.4rem;
}

.comment__author {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
  color: #000;
  margin-bottom: 3rem;
}

.comment__author::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 50%;
  background-color: #ff365f;
  bottom: -10px;
  left: 0;
}

.comment__body {
  margin: 2rem 0 4rem 0;
  line-height: 1.5;
  color: #000;
}

.postlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  margin: 0 20px;
  z-index: 10;
}

.postlist__post {
  width: 100%;
  margin: 1.5rem 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-shadow: 0px 0px 45px -9px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 45px -9px rgba(0, 0, 0, 0.75);
  z-index: 10;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .postlist__post {
    max-width: 330px;
    margin: 1.5rem 0.5rem;
  }
}

@media (min-width: 992px) {
  .postlist__post {
    max-width: 440px;
    margin: 1.5rem 0.8rem;
  }
}

@media (min-width: 1200px) {
  .postlist__post {
    max-width: 500px;
    margin: 1.5rem 1rem;
  }
}

.postlist__cover {
  width: 100%;
  height: 300px;
  background: #808080;
}

.postlist__cover img {
  width: 100%;
  height: 100%;
}

.postlist__content {
  padding: 1.5rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .postlist__content {
    padding: 2rem;
  }
}

.postlist__title {
  width: 100%;
  color: #000;
  text-decoration: none;
  padding: 0.5rem 0;
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
}

.postlist__author {
  color: #000;
}

.postlist__description {
  line-height: 1.5;
  margin-top: 1rem;
}

.postlist__tags {
  padding: 2.5rem 0 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.postlist__tag {
  background-color: lightgrey;
  padding: 0.5rem;
  margin-right: 1rem;
  border-radius: 5px;
}

.postlist__wrapper {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.postlist__link {
  color: #fff;
  background-color: #ff365f;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border: 2px solid #ff365f;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border-radius: 5px;
}

.postlist__link:hover {
  background: #fff;
  color: #ff365f;
}

.login {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #ff365f;
}

.login__back-button {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  cursor: pointer;
  padding: 0.5rem;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 20px;
}

@media (min-width: 768px) {
  .login__back-button {
    position: absolute;
    top: 30px;
    left: 10%;
  }
}

.login__back-button span {
  font-size: 1.2rem;
}

.login__back-button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.form {
  background-color: #fff;
  padding: 4rem 2.5rem;
  margin: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 45px -9px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 45px -9px rgba(0, 0, 0, 0.75);
}

.form h2 {
  font-size: 2.5rem;
  color: #808080;
  font-family: "Open Sans Condensed", sans-serif;
  letter-spacing: 2px;
  margin-bottom: 1.5rem;
}

.form__error-login {
  color: #ff365f;
  font-size: 1.1rem;
  letter-spacing: 1px;
}

.form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem 0;
}

.form__group__label {
  margin-bottom: 0.5rem;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.form__group__input {
  padding: 0.8rem 1rem;
  border: none;
  outline: none;
  background: #ececec;
  border-radius: 5px;
}

.form__group__input:focus {
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

.form__group:focus-within label {
  color: #ff365f;
}

.form__submit-button {
  padding: 0.6rem 1rem;
  border: 2px solid #ff365f;
  border-radius: 5px;
  background: #ff365f;
  color: #fff;
  font-size: 1rem;
  margin: 1rem 0 1.5rem 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.form__submit-button:hover {
  background: #fff;
  color: #ff365f;
}

.form__register-button {
  padding: 0 0.5rem;
  text-decoration: none;
  color: #000;
}

.author {
  padding: 0.5rem 0;
  display: "inline-block";
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.author::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #ff365f;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;
}
/*# sourceMappingURL=style.css.map */